.Button {
    padding: 18px 40px;
    border-radius: 100px;
    border: 1px solid $brand-color;
    background: $brand-color;
    font-size: 15px;
    line-height: 1.5;
    color: $text-color-light;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    transition: $transition-basic;

    $BUTTON: &;

    &--small {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 11px;
    }

    &--hoverable {
        @include hover-focus() {
            background: $brand-color-light !important;
        }
    }

    &--solid {
        background: #fff;
        color: $brand-color;

        &#{$BUTTON}--hoverable {
            @include hover-focus() {
                background: $brand-color !important;
                color: #fff;
            }
        }
    }

    &--hasArrow {
        span {
            padding-right: 20px;
            position: relative;
            display: inline-block;

            &::after {
                width: 6px;
                height: 10px;
                border-width: 2px;
                background: url('../images/svg/arrow.svg') no-repeat center;
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: $transition-basic;
            }
        }
    }
}

@include media-max($lg) {
    .Button {
        padding-right: 25px;
        padding-left: 25px;
        display: block;

        &:not(#{&}--small) {
            font-size: 13px;
        }
    }
}
