.Navigation {
    display: flex;
    flex-wrap: wrap;

    > a {
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        font-size: 11px;
        color: $text-color-gray;
        position: relative;
        transition: $transition-basic;
        text-transform: uppercase;
        display: inline-block;

        @include hover-focus {
            color: $brand-color;
        }

        &:not(:last-child) {
            margin-right: 15px;
            padding-right: 15px;

            &::before {
                width: 6px;
                height: 6px;
                border-width: 1px;
                border-style: solid;
                border-color: currentColor currentColor transparent transparent;
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%) rotate(45deg);
            }
        }
    }
}
