.Banners {
    display: flex;
}

.Banner {
    flex: 1;
    min-height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;

    $BANNER: &;

    &::after {
        background: rgba(#000, 0.5);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &--darker {
        &::after {
            background: rgba(#000, 0.7);
        }
    }

    &__inner {
        width: 100%;
        max-width: 1000px;
        padding: $gutter;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--centered {
            #{$BANNER}__button {
                margin-top: 30px;
            }
        }
    }

    &__img {
        width: 100%;
        vertical-align: middle;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__title,
    &__text {
        color: #fff;
    }

    &__text {
        font-size: 20px;
        text-align: center;
    }

    &__button {
        margin-top: auto;
        display: inline-block;
    }
}

@include media-max($lg) {
    .Banners {
        flex-direction: column;

        &__inner {
            height: 90%;
        }
    }

    .Banner {
        &__button {
            margin-top: $gutter;
        }
    }
}

@include media-min($lg) {
    .Banner {
        background-image: none !important;
    }
}

@include media($lg, $xxl) {
    .Banner {
        &__inner {
            &:not(&--centered) {
                height: 60%;
            }
        }
    }
}

@include media-min($xxl) {
    .Banner {
        &__inner {
            &:not(&--centered) {
                height: 50%;
            }
        }
    }
}
